{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <header>
        <h1><a href="index.html" class="heading">EE M2M SOAP Server Application</a></h1>
        <h2><a href="index.html" class="heading">CTEC3110 Secure Web Application Development</a></h2>
    </header>
{% endblock %}