{% block register %}
    <!--    REGISTER  -->
    <section class="register">
        <!--    LOGIN  -->
        <form action="{{ action2 }}" method="{{ method2 }}">
            <fieldset>
                <h4>Register</h4>
                <label>Full Name</label>
                <input type="text" placeholder="e.g. Joe Smith" name="reguser" required>

                <label>Email</label>
                <input type="text" placeholder="e.g. smith@email.com" name="regemail" required>

                <label>Password</label>
                <input type="password" placeholder="Enter Password" name="regpass" required>

                <label>Phone Number (no spaces)</label>
                <input type="text" placeholder="e.g 447123456789" name="regnumber" required>

                <button type="submit" id="register">Register</button>
            </fieldset>
        </form>
    </section>
{% endblock %}